.align-left {
  text-align: left;
}
.tag {
  color: #05abd6;
}
section > .logos > img {
  border-width: 0px;
  box-shadow: none;
  position: relative;
}
section > .logos {
  padding-left: 5%;
}
#logo-ag {
  top: 10px;
  left: 30px;
  z-index: 50;
}
#logo-bs {
  top: 20px;
  left: 30px;
  width: 80px;
  z-index: 49
}
#logo-bw {
  width: 150px;
  z-index: 48;
}
#logo-cs {
  left: -40px;
  z-index: 48;
}
#logo-fn {
  width: 200px;
  left: 20px;
  z-index: 48;
}
#logo-fw {
  top: -100px;
  width: 180px;
  z-index: 48;
}
#logo-hjc {
  width: 300px;
  top: -30px;
  left: 40px;
  z-index: 48;
}
#logo-jm {
  width: 100px;
  left: 20px;
  top: -150px;
  z-index: 48;
}
#logo-mc {
  left:-70px;
  z-index: 48;
}
#logo-jq {
  width: 150px;
  left:-60px;
  z-index: 48;
}
#logo-ls {
  width: 100px;
  top: -200px;
  z-index: 48;
  left: 10px;
}
#logo-npm {
  width: 120px;
  top: -140px;
  z-index: 48;
}
#logo-rt {
  width: 160px;
  top: -80px;
  z-index: 48;
}
#logo-sc {
  width: 70px;
  top: -100px;
  left: -20px;
  z-index: 48;
}
#logo-ss {
  width: 100px;
  top: -140px;
  left: -20px;
  z-index: 48;
}
#logo-ts {
  width: 130px;
  top: -100px;
  z-index: 48;
}
#logo-wp {
  width:80px;
  top: -250px;
  left: 40px;
  z-index: 48;
}
#logo-wa {
  width: 260px;
  z-index: 47;
  top: -170px;
  left: 200px;
}
